# Introduction to pandas

This notebook will introduce you to intermediate tasks using the [`pandas`](https://pandas.pydata.org/) data analysis library and demonstrate how to dedupe, clean, group, merge/join and visualize a data set.

The data for this exercise will be a CSV of opioid deaths reported in Minnesota. Many examples here are adapted from work by Mary Jo Webster.

(If you're completely new to Python or your syntax is rusty, it might be useful to [keep this notebook open in a new tab](Python%20syntax%20cheat%20sheet.ipynb) as a reference.)

#### Ssession outline
- [Using Jupyter notebooks](#Using-Jupyter-notebooks)
- [Import pandas](#Import-pandas)
- [Load data into a data frame](#Load-data-into-a-data-frame)
- [Inspect the data](#Inspect-the-data)
- [Sort the data](#Sort-the-data)
- [Filter the data](#Filter-the-data)
- [Group and aggregate the data](#Group-and-aggregate-the-data)
- [Export to CSV](#Export-to-CSV)

### For reference: Using Jupyter notebooks

There are many ways to write and run Python code on your computer. One way -- the method we're using today -- is to use [Jupyter notebooks](https://jupyter.org/), which run in your browser and allow you to intersperse documentation with your code. They're handy for bundling your code with a human-readable explanation of what's happening at each step. Check out some examples from the [L.A. Times](https://github.com/datadesk/notebooks) and [BuzzFeed News](https://github.com/BuzzFeedNews/everything#data-and-analyses).

**To add a new cell to your notebook**: Click the + button in the menu.

**To run a cell of code**: Select the cell and click the "Run" button in the menu, or you can press Shift+Enter.

**One common gotcha**: The notebook doesn't "know" about code you've written until you've _run_ the cell containing it. For example, if you define a variable called `my_name` in one cell, and later, when you try to access that variable in another cell but get an error that says `NameError: name 'my_name' is not defined`, the most likely solution is to run (or re-run) the cell in which you defined `my_name`.

### Import pandas; load a csv into a dataram

This was covered in more detail in the previous session, so we'll keep moving.

In [5]:
import pandas as pd
df = pd.read_csv('opiate_deaths.csv')
df

,STATEID,FIRSTNAME,MIDDLENAME,LASTNAME,MAIDENNAME,SUFFIX,BIRTHDATE,DEATHDATE,GENDER,RACE,...,DEATHCOUNTY,MANNERDEATH,INJURY_DATE,INJURYPLACE,INJURYSTATE,INJURYCOUNTY,INJURY_FIPS,INJURYDESC,CAUSEA,CAUSEB
0,2005-MN-006548,LANCE,NaN,CHOMMIE,NaN,NaN,12/16/1953,2/26/2005,M,White,...,ANOKA,ACCIDENT,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,DECEDENT INGESTED AN UNKNOWN AMOUNT OF OXYCODONE,OXYCODONE TOXICITY,NaN
1,2005-MN-009829,CARRIE,ANNE,FISCHER,HOLMES,NaN,6/6/1961,3/27/2005,F,White,...,ANOKA,ACCIDENT,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,DECEDENT INJESTED AN UNKNOWN AMOUNT OF MORPHINE,MORPHINE TOXICITY,NaN
2,2005-MN-023540,ELLIS,RAY,MCGHEE,NaN,NaN,4/4/1963,7/4/2005,M,African American,...,ANOKA,ACCIDENT,NaN,UNSPECIFIED PLACE,UNKNOWN,UNKNOWN,NaN,THE DECEDENT INGESTED AN UNKNOWN AMOUNT OF COC...,MIXED DRUG TOXICITY (COCAINE AND MORPHINE),NaN
3,2005-MN-027612,NATHANIEL,RYE,HAMILTON,NaN,NaN,8/14/1976,9/25/2005,M,White,...,ANOKA,ACCIDENT,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,THE DECEDENT INGESTED AN UNKNOWN AMOUNT OF OXY...,MIXED DRUG TOXICITY (OXYCODONE AND ALPRAZOLAM),NaN
4,2005-MN-028477,JILL,KRISTINA,BROWN,NaN,NaN,4/14/1982,10/3/2005,F,White,...,ANOKA,SUICIDE,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,DEC INGESTED AN UNKNOWN AMOUNT OF SEROQUEL AND...,QUETIAPINE AND OXYCODONE TOXICITY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,2016-MN-029127,STEPHEN,KIRK,PATTERSON,NaN,NaN,3/2/1987,8/31/2016,M,White,...,WRIGHT,ACCIDENT,8/31/2016,PRIVATE RESIDENCE,MINNESOTA,WRIGHT,27171.0,THE DECEDENT SELF-ADMINISTERED HEROIN AND ETHANOL,MIXED HEROIN AND ALCOHOL TOXICITY,NaN
3803,2017-MN-018317,TIMOTHY,ROBERT,WARD,NaN,NaN,4/13/1966,5/26/2017,M,White,...,WRIGHT,ACCIDENT,NaN,PRIVATE RESIDENCE,MINNESOTA,WRIGHT,27171.0,THE DECEDENT SELF-ADMINISTERED EXCESSIVE OXYCO...,OXYCODONE OVERDOSE,NaN
3804,2017-MN-024845,AUSTIN,ADRIAN,HILL,NaN,NaN,12/5/1996,7/23/2017,M,White,...,WRIGHT,ACCIDENT,NaN,PRIVATE RESIDENCE,MINNESOTA,WRIGHT,27171.0,THE DECEDENT USED ILLICIT FENTANYL,FENTANYL TOXICITY,NaN
3805,2014-MN-009504,STEPHANIE,PAIGE,LABATTE,NaN,NaN,1/14/1984,3/23/2014,F,American Indian,...,YELLOW MEDICINE,ACCIDENT,3/23/2014,PROJECT TURNABOUT,MINNESOTA,YELLOW MEDICINE,27173.0,OVERDOSE OF FENTANYL. STEPHANIE LABATTE INGES...,OVERDOSE OF FENTANYL,DEPRESSION
3806,2014-MN-039821,LISA,LYNN,LALIM,LALIM,NaN,2/27/1971,12/20/2014,F,White,...,YELLOW MEDICINE,SUICIDE,NaN,UNKNOWN,MINNESOTA,YELLOW MEDICINE,27173.0,THE DECEASED INGESTED AN EXCESS OF THE ABOVE S...,"MIXED DRUG TOXICITY (TRAMADOL, DIPHENHYDRAMINE...",NaN

### Inspect the data

Let's quickly check what columns are in our data...

In [10]:
df.columns

Index(['STATEID', 'FIRSTNAME', 'MIDDLENAME', 'LASTNAME', 'MAIDENNAME',
       'SUFFIX', 'BIRTHDATE', 'DEATHDATE', 'GENDER', 'RACE',
       'HISPANICETHNICITY', 'AGEYEARS', 'RESADDRESS', 'RESSTATE', 'RESCITY',
       'RESCOUNTY', 'ZIP', 'ARMEDFORCES', 'YEARSEDUCATION', 'OCCUPATION',
       'INDUSTRY', 'MARITALSTATUS', 'PLACETYPE', 'DEATHCITY', 'DEATHCOUNTY',
       'MANNERDEATH', 'INJURY_DATE', 'INJURYPLACE', 'INJURYSTATE',
       'INJURYCOUNTY', 'INJURY_FIPS', 'INJURYDESC', 'CAUSEA', 'CAUSEB'],
      dtype='object')

... and see how many rows and columns are in the data

In [7]:
df.shape

(3807, 34)

## Cleaning your data

When you receive data, it will almost always need some cleanup to be ready for analysis and/or display. There are some common issues to look for when you have acquired a new dataset.

- Duplicate records
- Misspellings
- Inconsistent category/variable names
- Null or empty (`''`) values that may affect calculations

### Checking for duplicate records with `groupby()`

Each record has a `STATEID`, which seems to imply that each row represents a unique death. But how do we know? We can use the `groupby()` method to count how many times each `STATEID` value appears. If each row is a unique person or case, there should be only 1 copy of each value.

In pandas we can chain several methods together to achieve our desired output.

Here's the full command (we'll break down the details next):

In [9]:
df[['STATEID', 'DEATHCITY']].groupby('STATEID').count().reset_index().sort_values('DEATHCITY', ascending=False)

             STATEID  DEATHCITY
0     2005-MN-000344          1
2543  2014-MN-037772          1
2531  2014-MN-035649          1
2532  2014-MN-035971          1
2533  2014-MN-036080          1
...              ...        ...
1273  2010-MN-035079          1
1274  2010-MN-035176          1
1275  2010-MN-035257          1
1276  2010-MN-035518          1
3806  2017-MN-044531          1

[3807 rows x 2 columns]

### Groupby, one piece at a time

First, let's run our groupby on a subset of the data:

`df[['STATEID', 'DEATHCITY']]`

This will return a view of the dataframe that only includes the STATEID and DEATHCITY columns.

Why do we even need `DEATHCITY` in this case? Because `groupby()` calls need at least two fields to work right. One or more fields that we are grouping on (`STATEID` in this case), and another field to be counted.

`df[['STATEID', 'DEATHCITY']].groupby('STATEID')`

And we'll add a `count()` call to tell pandas that we want to count the number of rows in each group, as opposed to other methods like summing or finding the average of that group.

`df[['STATEID', 'DEATHCITY']].groupby('STATEID').count()`

Next we need to include a weird pandas thing, `reset_index()` This is because otherwise, when performing a groupby, pandas will produce a MultiIndex, which is more complex than we need.

`df[['STATEID', 'DEATHCITY']].groupby('STATEID').count().reset_index()`

And finally we'll sort the results by our counted column, `DEATHCITY`. We want to surface any non-unique `STATEID`s, so we'll sort in descending order.

`df[['STATEID', 'DEATHCITY']].groupby('STATEID').count().reset_index().sort_values('DEATHCITY', ascending=False)`

Great news, the highest count is 1, meaning there are no `STATEID`s that occur more than once.

### ✍️ Your turn

Let's find out how many deaths occured in each city. Take the next few minutes to see if you can group the datafame by the `DEATHCITY` column and count the number of rows from each city.

Here's a start for you to build on:

In [21]:
deaths_by_city = df[['DEATHCITY', 'STATEID']]  # Your code herey...

### Renaming a column

It's confusing that the count of cities is held in a column called `STATEID`, which doesn't really have any meaning. It's always a good idea to have column headers that you can clearly understand, so let's rename the `STATEID` column in our `groupby()` to `death_count`. Note that this does NOT change the `STATEID` column in the original dataframe, as we are now working on a copy of a subset of that original data.

In [20]:
deaths_by_city.rename(columns={'STATEID': 'death_count'}, inplace=True)
deaths_by_city

            DEATHCITY  death_count
241       MINNEAPOLIS          829
341        SAINT PAUL          285
98             DULUTH          138
337       SAINT CLOUD           93
325         ROCHESTER           89
..                ...          ...
249        MOOSE LAKE            1
251  MORRILL TOWNSHIP            1
253        MORRISTOWN            1
254            MORTON            1
0               ADAMS            1

[415 rows x 2 columns]

### Recoding data with `lambda()`

We can also use pandas to change the data values to something more presentable or consistent. For example, let's look at the unique values for the `GENDER` column:

In [34]:
df.GENDER.unique()

array(['M', 'F'], dtype=object)

Let's change all the values in `GENDER` to the slightly more user-friendly `Male` and `Female`. We'll use a lambda function. A lambda function is shorthand way of writing what you would like to do to each row of data in this column. It's usually safer to add a new column than to change the underlying data, so we'll create a new column called `gender_clean`, and populate it with values from the `GENDER` column that we have run through our little lambda factory.

In [25]:
df['gender_clean'] = df['GENDER'].apply(lambda x: 'Male' if x == 'M' else 'Female')
df['gender_clean']

0         Male
1       Female
2         Male
3         Male
4       Female
         ...
3802      Male
3803      Male
3804      Male
3805    Female
3806    Female
Name: gender_clean, Length: 3807, dtype: object

In this case, each row was either labeled M or F, but our basic `if this, else that` logic is too naive for most real-world situations. For example, what if some rows had a value of `NA` or were null? In the above function, those rows would have gotten erroneously marked as `Female`. That's correction waiting to happen.

### A slightly more complex `lambda()`

To introduce more complex logic, we'll still use a lambda(). But instead of cramming the logic of what we want to do into one line, we'll use the lambda to apply an external function to each row.

Here's the function we'll apply to each row:

In [32]:
def decode_gender(input):
    if input == 'M':
        return 'Male'
    elif input == 'F':
        return 'Female'
    else:
        return None

We may not have thought of every possible exception, but at least we won't wrongly assign some values to either male or female.

Now let's apply the `decode_gender` function to each row's `GENDER` column using lambda.

In [30]:
df['gender_clean'] = df['GENDER'].apply(lambda x: decode_gender(x))
df['gender_clean'].drop_duplicates()

0      Male
1    Female
Name: gender_clean, dtype: object

### Cleaning up inconsistent values

Now let's take a look at the values in the `HISPANICETHNICITY` column:

In [33]:
df.HISPANICETHNICITY.unique()

array(['NOT HISPANIC', 'HISPANIC', 'UNKNOWN', 'non-hispanic', 'hispanic',
       'NON-HISPANIC', 'not hispanic', 'NOT-HISPANIC'], dtype=object)

Whoa, kind of a mess! We can't easily groupby these values right now because of the inconsistent capitalization and spelling.

One way to harmonize data in a column is to set all of the letters to uppercase. We'll start a new `hispanic_clean` column to avoid introducing errors into our original `HISPANICETHNICITY` column.

In [35]:
df['hispanic_clean'] = df['HISPANICETHNICITY'].str.upper()
df['hispanic_clean'].unique()

array(['NOT HISPANIC', 'HISPANIC', 'UNKNOWN', 'NON-HISPANIC',
       'NOT-HISPANIC'], dtype=object)

OK, we cut our 8 unique values down to 5. But we still have inconsistencies in the spelling and hyphenation.

Let's deal with the simple hyphens first, by searching for and replacing instances of `NON HISPANIC`, sans hyphen. You'll notice that now we're modifying `hispanic_clean`, which we just created, directly. If we ran this against the original `HISPANICETHNICITY` column, we'd mess up some of our previous work on `hispanic_clean`.

Like most search and replace functions, the arguments passed to `replace()` are writtin the order of `1. Needle` in the `2. Haystack` you are searching through.

In [38]:
df['hispanic_clean'] = df['hispanic_clean'].str.replace('NON HISPANIC', 'NON-HISPANIC')
df['hispanic_clean'].unique()

array(['NON-HISPANIC', 'HISPANIC', 'UNKNOWN'], dtype=object)

Better again! Now let's tackle the `NOT HISPANIC` rows, some of which have a hyphen and some that don't. We could write two lines that are similar to what we just did, but let's throw in a regular expression that can account for cases both with and without the hyphen.

`.replace(r'NOT(-| )HISPANIC', 'NON-HISPANIC')`

The `r` preceding the string tells python this is a regular expression, not a normal string.

The `(-| )` means that either a hypen or a space is an acceptable value to call a match. In either case, the command will write `NON-HISPANIC` instead.

In [40]:
df['hispanic_clean'] = df['hispanic_clean'].str.replace(r'NOT(-| )HISPANIC', 'NON-HISPANIC')
df['hispanic_clean'].unique()

array(['NON-HISPANIC', 'HISPANIC', 'UNKNOWN'], dtype=object)

What a tidy column we have now!

### ✍️ Your turn

In the cell below, group by and count the `df` data frame:
- Get a subset of the `df` data frame
- Group by `hispanic_clean`
- Count the rows with each value
- Order descending
- Rename the count to a new variable called `death_count` after grouping

In [41]:
# deaths_by_hispanic_ethnicity =

In our data, the vast majority of deaths are from people without Hispanic ethnicity. But Minnesota is a pretty white state, so we need to look at these numbers as a percentage, so we can compare the deaths to Minnesota's overall Hispanic population, which is about 5% of the state's total population, according to Pew Research.

We can create a new column to calculate the percentage:

In [ ]:
deaths_by_hispanic_ethnicity['pct_total'] = deaths_by_hispanic_ethnicity['death_count'] / deaths_by_hispanic_ethnicity['death_count'].sum()
deaths_by_hispanic_ethnicity

### Visualize the data with a bar chart

Pandas works well with a visualization package called [`matplotlib`](https://matplotlib.org/). There are several other visualization packages that have robust feature sets, including Altair, but matplotlib is already tightly integrated with pandas, so we'll start with that.

It doesn't make for the most compelling chart in the world, but once you have your data cleaned up, it's easy to make a simple bar chart:

In [43]:
deaths_by_hispanic_ethnicity.plot.bar(x='hispanic_clean', y='death_count')

NameError: name 'deaths_by_hispanic_ethnicity' is not defined

### Extracting year from a date

To look at the trend in deaths over time, we can grab just the year from the `DEATHDATE` column by taking advantage of Python's date-handling abilities. First we need to tell pandas the the `DEATHDATE` column is a `datetime`, not just an ordinary string.

In [51]:
df['DEATHDATE'] = pd.to_datetime(df['DEATHDATE'])

Now we can use `lambda` to call `.year` on each `DEATHDATE`, and pipe it to a new column.

In [53]:
df['death_year'] = df['DEATHDATE'].apply(lambda x: x.year)
df['death_year']

0       2005
1       2005
2       2005
3       2005
4       2005
        ...
3802    2016
3803    2017
3804    2017
3805    2014
3806    2014
Name: death_year, Length: 3807, dtype: int64

### ✍️ Your turn

In the cells below, group by and count the `df` data frame:
- Get a subset of the `df` data frame
- Group by `death_year`
- Count the rows with each value
- Order by death year
- Rename the count to a new variable called `death_count` after grouping
- Plot the death years on a bar chart

### Merging with other data

Of course, it's not surprising that Minnesota's largest city has the highest raw death count -- there are so many more people. The data would be a lot more meaningful if we could calculate the deaths per capita. But population isn't in our original CSV. But we can join our data with other data sources, provided they have some kind of identical value to join on.

First, we load a spreadsheet of population data from a reliable source from a similar time period.

In [56]:
pop_estimates = pd.read_csv('mn_cities_townships_pop_estimates.csv')
pop_estimates

FileNotFoundError: [Errno 2] File b'mn_cities_townships_pop_estimates.csv' does not exist: b'mn_cities_townships_pop_estimates.csv'

# If we need another example

### Grouping values into new categories

For a more informative bar chart, let's tag each row with a new `age_group` value. We can use `lambda()` and `apply()`, as we did above.

First, our function:

In [45]:
def get_age_group(age):
    if age < 20:
        return '0-19'
    elif age >=20 and age < 35:
        return '20-34'
    elif age >= 35 and age < 50:
        return '35-49'
    elif age >= 50 and age < 70:
        return '50-69'
    elif age >= 70:
        return '70 and over'
    return 'Unknown'

And now let's apply it to each row's `AGEYEARS` column

In [48]:
df['age_group'] = df.AGEYEARS.apply(lambda x: get_age_group(x))

And be sure to check that the results make sense...

In [50]:
df[['age_group', 'AGEYEARS']]

     age_group  AGEYEARS
0        50-69        51
1        35-49        43
2        35-49        42
3        20-34        29
4        20-34        23
...        ...       ...
3802     20-34        29
3803     50-69        51
3804     20-34        20
3805     20-34        30
3806     35-49        43

[3807 rows x 2 columns]

### ✍️ Your turn

In the cells below, group by and count the `df` data frame:
- Get a subset of the `df` data frame
- Group by `age_group`
- Count the rows with each value
- Order by age group
- Rename the count to a new variable called `death_count` after grouping
- Plot the age groups on a bar chart

### Import pandas

Before you can use the functionality of `pandas`, a third-party library installed separately from Python, you need to _import_ it. The convention is to import the library under an alias that's easier to type: `as pd`.

Run this cell:

In [ ]:
import pandas as pd

### Change a display setting

Run the next cell to change a setting that displays big numbers in scientific notation by default. (Unless scientific notation is your jam, in which case _avoid_ running the next cell.)

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html
pd.options.display.float_format = '{:20,.2f}'.format

### Load data into a data frame

Before you can start poking at a data file, you need to load the data into a pandas _data frame_, which is sort of like a virtual spreadsheet with columns and rows.

You can load many different types of data files into a data frame, including CSVs (and other delimited text files), Excel files, JSON [and more](https://www.cbtnuggets.com/blog/2018/10/14-file-types-you-can-import-into-pandas/). ([Here's a quick reference notebook](https://github.com/ireapps/cfj-2018/blob/master/reference/Importing%20data%20into%20pandas.ipynb) demonstrating how to import some different data files, including live data from the Internet!)

For today, we'll focus on importing the MLB salary data using a pandas method called [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). There are a ton of options you can supply when you read in the data file, but at minimum, you need to tell the method _where_ the file lives, which means you need to supply the path to the data file as a Python _string_ (some text enclosed in single or double quotes). The file is called `mlb.csv`, and it is located in the same directory as this notebook file, so we don't need to specify a longer path.

As we import the data, we'll also _assign_ the results of the loading operation to a new variable called _df_ (short for data frame -- easy to type, plus you'll see this pattern a lot when Googling around for help).

👉 [Click here for more information on Python variables](Python%20syntax%20cheat%20sheet.ipynb#Variable-assignment).

In [ ]:
df = pd.read_csv('mlb.csv')

As a human sentence: "Go to the pandas library that we imported earlier as something called `pd` and use its `read_csv()` method to import a file called `mlb.csv` into a data frame -- and while we're at it, assign the results of that operation to a new variable called `df`."

### Inspect the data

Let's take a look at what we've got using a few built-in methods and attributes of a pandas data frame:
- `df.head()` will display the first five records (or, if you prefer, you can specify a number, e.g., `df.head(10)`)
- `df.tail()` will display the last five records (or, if you prefer, you can specify a number, e.g., `df.tail(10)`)
- `df.describe()` will compute summary stats on numeric columns
- `df.sample()` will return a randomly selected record (or, if you prefer, you specify a number, e.g., `df.sample(5)`
- `df.shape` will tell you how many columns, how many rows
- `df.dtypes` will list the column names and tell you what kind of data is in each one

### Sort the data

To sort a data frame, use the `sort_values()` method. At a minimum, you need to tell it which column to sort on.

In [ ]:
df.sort_values('SALARY')

To sort descending, you need to pass in another argument to the `sort_values()` method: `ascending=False`. Note that the boolean value is _not_ a string, so it's not contained in quotes, and only the initial letter is capitalized. (If you are supplying multiple arguments to a function or method, separate them with commas.)

👉 [Click here for more information on Python booleans](Python%20syntax%20cheat%20sheet.ipynb#Booleans).

In [ ]:
df.sort_values('SALARY', ascending=False)

You can use a process called "method chaining" to perform multiple operations in one line. If, for instance, we wanted to sort the data frame by salary descending and inspect the first 5 records returned:

In [ ]:
df.sort_values('SALARY', ascending=False).head()

You can sort by multiple columns by passing in a _list_ of column names rather than the name of a single column. A list is a collection of items enclosed within square brackets `[]`.

👉 [Click here for more information on Python lists](Python%20syntax%20cheat%20sheet.ipynb#Lists).

To sort first by `SALARY`, then by `TEAM`:

In [ ]:
df.sort_values(['SALARY', 'TEAM']).head()

You can specify the sort order (descending vs. ascending) for each sort column by passing another list to the `ascending` keyword with `True` and `False` items corresponding to the position of the columns in the first list. 

For example, to sort by `SALARY` descending, then by `TEAM` ascending:

In [ ]:
df.sort_values(['SALARY', 'TEAM'], ascending=[False, True]).head()

The `False` goes with `SALARY` and the `True` with `TEAM` because they're in the same position in their respective lists.

One other note: Despite all of this sorting we've been doing, the original `df` data frame is unchanged:

In [ ]:
df.head()

That's because we haven't "saved" the results of those sorts by assigning them to a new variable. Typically, if you want to preserve a sort (or any other kind of manipulation), you'd would assign the results to a new variable:

In [ ]:
sorted_by_team = df.sort_values('TEAM')

In [ ]:
sorted_by_team.head()

### ✍️ Your turn

In the cells below, practice sorting the `df` data frame:
- By `NAME`
- By `POS` descending
- By `SALARY` descending, then by `POS` ascending, and save the results to a new variable called `sorted_by_salary_then_pos`

### Filter the data

Let's go over two different kinds of filtering:

- Column filtering: Grabbing one or more columns of data to look at, like passing column names to a `SELECT` statement in SQL.
- Row filtering: Looking at a subset of your data that matches some criteria, like the crieria following a `WHERE` statement in SQL. (For instance, "Show me all records in my data frame where the value in the `TEAM` column is "ARI".)

#### Column filtering

To access the values in a single column of data, you can use "dot notation" as long as the column name doesn't have spaces or other special characters:

In [ ]:
df.TEAM

Otherwise, use "bracket notation" with the name of the column as a string.

This is equivalent to the previous command:

In [ ]:
df['TEAM']

When you access a single column in your data frame, you're getting back something called a `Series` object (as opposed to a `DataFrame` object).

One of the methods you can call on a Series is `unique()`, which shows you each unique value in the column. Let's do that with the `TEAM` column:

In [ ]:
df.TEAM.unique()

What we just did is the equivalent of dragging the "TEAM" column name into the "rows" area of a spreadsheet pivot table, or, in SQL,

```sql
SELECT DISTINCT TEAM
FROM mlb
```

You can also count up a total for each value using the `value_counts()` method:

In [ ]:
df.TEAM.value_counts()

For numeric columns, you can call methods on that Series to compute basic summary stats:
- `min()` to get the lowest value
- `max()` to get the greatest value
- `median()` to get the median
- `mean()` to get the average
- `mode()` to get the most common value

Check it out for the `SALARY` column:

In [ ]:
df.SALARY.min()

In [ ]:
df.SALARY.max()

In [ ]:
df.SALARY.median()

In [ ]:
df.SALARY.mean()

In [ ]:
df.SALARY.mode()

To select multiple columns in your data frame, use bracket notation but pass in a _list_ of column names instead of just one. To make things clearer, you could break this out into two steps:

In [ ]:
columns_we_care_about = ['TEAM', 'SALARY']
df[columns_we_care_about]

#### Row filtering

To make things maximally confusing, you _also_ use bracket notation for row filtering. Except in this case, instead of dropping the name of a column (or a list of column names) into the brackets, you hand it a _condition_ of some sort.

Let's filter our data to see players who make more than $1 million (in other words, return rows of data where the value in the `SALARY` column is greater than 1000000):

(The equivalent SQL statement would be:
```sql
SELECT *
FROM mlb
WHERE SALARY > 1000000
```
)

In [ ]:
df[df.SALARY > 1000000]

For many filters, you'll use Python's comparison operators:
- `>` greater than
- `>=` greater than or equal to
- `<` less than
- `<=` less than or equal to
- `==` equal to
- `!=` not equal to

#### Multiple filter conditions

What if you want to use multiple filtering conditions? There is a way, but it usually makes more sense -- and is much easier for your colleagues and your future self to think about and debug -- to _save_ the results of each filtering operation by assigning the results to a new variable, then filter _that_ again instead of the original data frame.

For example, if you wanted to look at Colorado Rockies players who make more than $1 million, you might do something like:

In [ ]:
rockies = df[df.TEAM == 'COL']
rockies_over_1m = rockies[rockies.SALARY > 1000000]

In [ ]:
rockies_over_1m

👉 [Check out some other filtering operations here]().

### ✍️ Your turn

In the cells below, practice filtering:
- Column filtering: Select the `NAME` column
- Column filtering: Select the `NAME` and `TEAM` columns
- Row filtering: Filter the rows to return only players who make the league minimum (535000)
- Row filtering: Filter the rows to return only catchers (`C`) who make at least 750000
- BONUS: Filter the rows to return only players for the Chicago Cubs (`CHC`), then use method chaining to order the results by `SALARY` descending

### Group and aggregate the data

Data frames have a `groupby` method for grouping and aggregating data, similar to what you might do in a pivot table or a `GROUP BY` statement in SQL. (They also have a [`pivot_table` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html), which can be homework for you to research.)

Let's say we wanted to see the top 10 teams by payroll. In other words, we want to:
- Group the data by the `TEAM` column: `groupby()`
- Add up the records in each group: `sum()`
- Sort the results by `SALARY` descending: `sort_values()`
- Take only the top 10 results: `head(10)`

Calling the `groupby()` method without telling it what to do with the grouped records isn't super helpful:

In [ ]:
df.groupby('TEAM')

At this point, it's basically telling us that it has successfully grouped the records -- now what? Using method chaining, describe what you would like to _do_ with the numeric columns once you've grouped the data. Let's start with `sum()`:

In [ ]:
df.groupby('TEAM').sum()

Neat! Except it's summing _every_ numeric column, not just `SALARY`. To deal with this, use column filtering to select the two columns we're interested in -- `TEAM` for grouping and `SALARY` for summing -- and _then_ tack on the `groupby` statement, etc.

(Remember: To select columns from a data frame, use bracket notation and hand it a _list_ of column names.)

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').sum()

Bang bang. Now, using method chaining, let's sort by `SALARY` descending and look at just the top 10:

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').sum().sort_values('SALARY', ascending=False).head(10)

You can use aggregation methods other than `sum()` -- `mean()` and `median()`, for instance -- or you can use [the `agg()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) to specify one or more aggregation methods to apply.

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').median()

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').mean()

In [ ]:
df[['TEAM', 'SALARY']].groupby('TEAM').agg(['sum', 'mean', 'median'])

### ✍️ Your turn

In the cells below, practice grouping data:
- What's the median salary for each position? Group the data by `POS` and aggregate by `median()`, then sort by `SALARY` descending
- What's the average salary on each team? Group the data by `TEAM` and aggregate by `sum()`, then sort by `SALARY` descending
- What else?

### Export to CSV

To export a dataframe to a delimited text file, use the [`to_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) method. If you don't want to include the index numbers, specify `index=False`.

In [ ]:
df.to_csv('my-cool-data-frame.csv', index=False)